[submodule "modules/dual_modal_yolact"]
	path = modules/dual_modal_yolact
	url = git@github.com:shangjie-li/dual_modal_yolact.git
[submodule "modules/yolact"]
	path = modules/yolact
	url = git@github.com:shangjie-li/yolact.git
